

.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New";
    -fx-base: #2F4F4F;
    -fx-background: #A9A9A9;
}


.button {
    -fx-font: bold italic 9pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
    
.label {
    -fx-background-color:  #00000;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}


